/* fuentes
font-family: 'Oswald', sans-serif; 
#828282
#c6c6c6
#5e5e5e
#6f6f6f
#aaaaaa



/* Header */



*{
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #828282 ;
    font-family:'Oswald', sans-serif ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.navbar-nav{
    list-style:none ;
    text-align: right;
   
}

.barraNav__lista li{
    transition: transform 0.5s;
}

.barraNav__lista li:hover {
    transform: scale(1.2);
}

 ul li {
    display: inline-block;
    padding: 10px;
    
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Oswald', sans-serif;;
}

.logo { 
    display: grid;
    height: 15vh;
    margin-left: auto;
    margin-right: auto;
}
 

 .titulo__menu {
    text-align: center;
    background-color: #5e5e5e ;
}

.subtitulo__menu {
        text-align: center;
        background-color: #5e5e5e ;
        font-size: 20px;
}


.carousel-item{
    height: 70vh;
    padding-top: 10%;

}
.carousel-item img {
    object-fit: contain;
}


/* footer */


 footer{
        background-color: #5e5e5e ;
        padding: 1em 0;
        text-align: center;
        margin-top: auto;
 }


footer .redesSociales {
    background-color: #5e5e5e ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
} 





/* contacto */

.h1__contacto {
    text-align: center;
}
.h2__contacto{
    text-align: center;
    
}
.redesSociales__contacto i a{
    background-color: #5e5e5e ;

}

/* ¿ quienes somos ? */

.titulo__nosotros{
    text-align: center;
}

.subtitulo__nosotros {
    text-align: center;
}


/* PRODUCTOS */

section {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.card {
  width: 33%;
}
.estilo-a{
    font-family: sans-serif;
}
.estilo-a a {
text-decoration: none;
color: black;
}
.estilo-a:hover {
    text-decoration: underline;
}
.estilo-a .img-container {
    overflow: hidden;
    height: 400px;
    position: relative;
}
.estilo-a .img-container img {
    width: 100%;
    position: absolute;
    transition: all 0.5s;
}

.estilo-a:hover .img-container img {
    transform: scale(1.1);
}




/* mediaqueries */

@media only screen and (max-width: 768px) {
    .logo {
        height: 100px;
        display: grid;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo__menu {
        font-size: 28px;
    }

    .subtitulo__menu {
        font-size: 24px;
    }

    .barraNav__lista {
        font-size: 15px;
        
    }
    .barraNav__lista li a {
     font-size: 20px;
}
     .imgMenu {
         display: flex;
         justify-content: center;
         align-items: center;
         

        }
    
     .imgMenu img {
        width: 20vh;
        border-radius: 30px;
        margin: 0 10px 0 10px  ;
    }
   
    footer {
      position: absolute;
      width: 100vw;
      bottom: 0;
    }

    /* contacto */
    form {
        display: grid;
        justify-content: center;
        grid-template-rows:50px 35px ;
        font-size: 2rem;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    
}

@media only screen and (max-width: 375px) {


    .logo {
        height: 60px;
        display: grid;
        margin-left: auto;
        margin-right: auto;
    }
    .titulo__menu {
        font-size: 22px;
    }

    .subtitulo__menu {
        font-size: 15px;
    }

   .navbar-brand {
         font-size: 15px;
   }

   .container {
     min-height: calc(100vh - 100px - 300px); 
   
   }  
  .carousel-item img{
      height: 275px;
      align-items: center;
  }

 ul li a  {
     font-size: 15px;
 }
 

 p {
     display: none;
 }


}