body {
    margin: 0;
    background-color: map-get($paleta-colores,primario ) ;
    font-family: map-get($fuentes, primaria );
    @include body (display, flex);
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

footer{
    background-color: map-get($paleta-colores, secundario ) ;
  @extend %footer
};

  .redesSociales {
      @extend %redesSociales
  }



